.productsDetailsStyle {
    margin-top: 3%;
}

@media screen and (max-width:960px) {
    .productsDetailsStyle {
        margin-top: 10%;
    }
}

@media screen and (max-width:577px) {
    .productsDetailsStyle {
        margin-top: 25%;
    }
}


@media screen and (max-width:444px) {
    .productsDetailsStyle {
        margin-top: 35%;
    }
}

@media screen and (max-width:391px) {
    .productsDetailsStyle {
        margin-top: 45%;
    }
}

@media screen and (max-width:376px) {
    .productsDetailsStyle {
        margin-top: 65%;
    }
}

@media screen and (max-width:274px) {
    .productsDetailsStyle {
        margin-top: 80%;
    }
}

@media screen and (max-width:599px) {
    .ProductDataDetails {
        margin-top: 3%;
    }
}